<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="ConsoleLogAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-6p %c - %m%n"/>
        </Console>
        <File name="FileLogAppender" fileName="logs/app.log">
            <PatternLayout pattern="%d %-6p %c - %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="ConsoleLogAppender"/>
            <AppenderRef ref="FileLogAppender"/>
        </Root>
    </Loggers>
</Configuration>